*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
background-color: black;
}

h1{
text-align: center;
margin-top: 50px;
color: white;
font-size: 80px;

@media(max-width:589px){
font-size: 3rem;
}
@media(max-width:453px){
font-size: 2rem;
}
  
}
.clock{
display: flex;
justify-content: center;
align-items: center;
margin: 10px auto;
font-size: 5rem;

}
.segundos{
background-color: green;
color: white;
}
.minutos{
background-color: yellow;
color: white;
}
.horas{
background-color: red;
color: white;
}
.tempo{
padding: 20px;
width: 200px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
border: 3px solid black;
font-size: 25px;

@media(max-width:589px){
padding: 15px;
width: 150px;
}
@media(max-width:453px){
padding: 10px;
width: 100px;
}

}
.max-clock{
margin-top: 200px;
}